#pcpinline_content > div {
    display: inline-block;
    float: left;
    margin: 0 5px;
  /*  width: 69%;*/
	overflow: auto;
}
.compare_heading{
float:left;
width:30%;
}

.tabel_data > table {
    float: left;
    margin: 0 10px;
    width: 200px;
}



.tabel_data{}

.tabel_data img.size-full, .tabel_data img.size-large, .tabel_data img.wp-post-image{ width:32px; height:32px; display:block; margin:auto;}

.plugin_heading {
    background: #ccc none repeat scroll 0 0;
    color: #000;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 15px;
    padding: 10px;
}

.compare_heading td {
    padding: 6.8px 0;
}

.tabel_data td {
    text-align: center;
}

#pcpinline_content table td {
    border-top: 1px solid #ededed;
    height: 52px;
    padding: 6px 10px 6px 0;
}

.woocommerce-placeholder.wp-post-image{
width:200px;
height:100px;
}

#pcp_form{width:98%;}
.form-table{background:#fff;}
.form-table th{  padding: 19px 36px !important;}
#pcp_form input[type="submit"] {
    margin-top: 15px;
}
.pcpl_com  #cboxMiddleRightt{height: 328px !important;}

.pcpl_com #cboxContent{margin-top:0 !important;}

.pcpl_com #cboxTitle{display:none !important;}

.pcpl_com #cboxClose{top:auto;}

#colorbox.pcpl_com{
position: fixed !important;
 top: 50% !important;
transform: translateY(-50%);

-webkit-transform: translateY(-50%);

-moz-transform: translateY(-50%);

-ms-transform:translateY(-50%);

}

#colorbox.pcpl_com{z-index:9999999;}
.compare_lite_box_overlay{position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:99999;display:none; top:0; left:0;}
#pcpinline_content{background:#fff;width:80%; margin:0 auto; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);}
.compare_close_pcp { cursor: pointer; font-size: 26px; position: absolute; right: 20px; top: 15px;}
#pcpinline_content .compare_table_overflow{height:400px;overflow-y:auto;overflow-x:hidden;width:100%;}
#pcpinline_content .table_class{width:70%; float:left; overflow:auto;}

.woocommerce ul.products li.product .img-wrap{position:relative;}
.woocommerce ul.products li.product .img-wrap .image_loader{opacity:0; visibility:hidden;z-index:-1; position:absolute;top:0; left:0;width:100%; height:100%; background:rgba(0,0,0,0.2); text-align:center;}
.woocommerce ul.products li.product .img-wrap:hover .image_loader{opacity:1; visibility:visible;z-index:1;}
.woocommerce ul.products li.product .img-wrap .image_loader .pcpcompare{position:absolute;top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); margin:0; position:absolute; top:50%; left:50%;}